@import '../../../styles/consts/colors';

.wrapper {
    font-size: 20px;
    padding: 10px 0;
}

.listRow {
    display: flex;
    align-items: center;
    margin-left: 10px;
    margin-top: 5px;

    @media screen and(max-width: 450px) {
        margin-left: 0;
    }
}
