.list {
  list-style: none;
  max-width: 90vw;
  width: 100%;
  box-sizing: border-box;
  padding: 10px;

  @media screen and(max-width: 450px) {
    max-width: 100%;
  }
}

.onDragOver {
  border-radius: 6px;
  border: 1px dashed #ccc;
}

.emptyOrderBlock {
  padding-bottom: 30px;
}
