.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.list {
  margin-top: 0;
  list-style: none;
  width: 100%;
  box-sizing: border-box;
  padding: 0;

  @media screen and(max-width: 450px) {
    max-width: 100%;
  }
}

.columns {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 20px;
  width: calc(100% - 40px);
  padding: 0 20px;
  
  @media screen and (max-width: 800px) {
    padding: 0;
    grid-column-gap: 10px;
    width: calc(100% - 20px);
  }
}

.singleColumn {
  grid-template-columns: 1fr;
}
