@import '../../../styles/consts/colors';

.row {
    padding: 10px;
    border-radius: 5px;
    background: #d3d3d3;
    color: $main-bg;

    transition: all 150ms ease-in-out;


}

.twoColumns {
    @media screen and (max-width: 800px) {
        padding: 4px;

        .label {
            font-size: 16px;
        }

        .index {
            font-size: 12px;
        }

        .description {
            font-size: 12px;
        }
    }
}

.dogs {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    grid-area: dogs;
}

.colorOdd {
    background: rgb(214, 223, 40);
}

.colorEven {
    color: $main-font-color;
    background: rgb(241, 91, 102);
}

.disabled {
    @extend .row;
    background: rgba(#d3d3d3, 0.2);
    color: rgba(#fff, 0.2);
    position: relative;
}

.label {
    display: grid;
    grid-template-columns: 1fr 40px;
    grid-column-gap: 4px;
    grid-row-gap: 4px;
    grid-template-areas:
        'dogs expandButton'
        'description expandButton';
    font-size: 20px;
    color: inherit !important;
    align-items: center;
}

.iconWrapper {
    color: inherit !important;
}

.icon {
    margin-right: 10px;
    color: inherit;
}

.expandIcon {
    color: inherit;
}

.input {
    width: 100%;
}

.index {
    border: 1px solid $main-bg;
    padding: 4px;
    background: #555;
    color: #fff;
    border-radius: 6px;
    margin-right: 8px;
}

.description {
    grid-area: description;
}

.expandButtonWrapper {
    grid-area: expandButton;
}
