{
  "printWidth": 100,
  "parser": "typescript",
  "singleQuote": true,
  "jsxSingleQuote": true,
  "semi": false,
  "arrowParens": "always",
  "trailingComma": "all",
  "overrides": [
    {
      "files": "*.scss",
      "options": {
        "parser": "scss",
        "singleQuote": false
      }
    },
    {
      "files": "*.html",
      "options": {
        "parser": "html"
      }
    }
  ]  
}