.refreshIcon {
  z-index: 2;
  transition: transform 1s ease-in-out;
}

.refreshIconRotating {
  animation: animateIcon 1s linear infinite;
}

@keyframes animateIcon {
  0% {
    transform: rotateZ(0);
  }
  100% {
    transform: rotateZ(360deg);
  }
  50% {
    transform: rotateZ(180deg);
  }
}
