.dog-training-wrapper {
    &__refresh-icon {
        position: fixed !important;
        left: 15px;
        top: 15px;
        z-index: 2;
        transition: transform 1s ease-in-out;

        &--rotating {
            @extend .dog-training-wrapper__refresh-icon;
            animation: animateIcon 1s linear infinite;
        }
    }
}

@keyframes animateIcon {
    0% {
        transform: rotateZ(0);
    }
    100% {
        transform: rotateZ(360deg);
    }
    50% {
        transform: rotateZ(180deg);
    }
}
