.people-tasks {
    font-size: 20px;

    &__select {
        min-width: 150px;
    }

    &__row-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 10px;
        max-width: 500px;
        flex-wrap: wrap;
    }

    &__list-row {
        display: flex;
        align-items: center;
        margin-left: 10px;
        margin-top: 5px;
    }
}
