.wrapper {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 10px;
  box-sizing: border-box;
}

.select {
  min-width: 200px !important;
  width: 100%;
}

.calendarGrid {
  margin-top: 12px;
  display: grid;
  grid-gap: 12px;
  grid-auto-rows: 1fr;
  overflow-x: auto;
}

.gridCell {
  border: 1px solid #333;
  padding: 4px;
}

.presenceCell {
  background: lightpink;
}

.cellPresent {
  background: lightgreen;
}

.pickPresenceCell {
  display: flex;
  flex-direction: column;
}