@import './styles/consts/colors.scss';

.app-wrapper {
    background: $main-bg;
    box-sizing: border-box;
    min-width: 90vw;
    min-height: 90vh;
    color: $main-font-color;
    padding-top: 40px;

    &__lock-icon {
        position: fixed !important;
        right: 15px;
        top: 15px;
    }
}
