.row {
  padding: 2px 4px;
  border-radius: 5px;
  background: #d3d3d3;
  color: #333;

  transition: all 150ms ease-in-out;

  margin-top: 10px;

  &:first-of-type {
    margin-top: 0;
  }
}

.dogs {
  flex-wrap: wrap;
  align-items: center;
  font-size: 12px;
  display: flex;
  grid-auto-flow: column;
  grid-gap: 4px;
}

.dog {
  border-right: 2px solid #333;
  text-align: center;
  padding: 0 4px;

  &:last-of-type {
    border: none;
  }
}

.label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: inherit !important;
}

.iconWrapper {
  color: inherit !important;
}